<%- include('../views/includes/head.ejs') %>
</head>
<body>
    <%- include('../views/includes/nav.ejs') %>
    <section class="card errorPage">
            <h1>Error 404 - PAGE NOT FOUND!</h1>
    
    </section>
<%- include('../views/includes/end.ejs') %>