<%- include('../views/includes/head.ejs') %>
</head>
<body>
    <%- include('../views/includes/nav.ejs') %>
    <section class="card">
            <h1>Error 500 - BARDO HEAVY METAL </h1>
    
    </section>
<%- include('../views/includes/end.ejs') %>