extends mainl.pug
block content
    h1 Products
    p List of all Products
        if prods.length > 0
            each product in prods
                p #{product.title}
            else
                p NO HAY PRODUTOS
    