*{
    margin:0;
    padding:0;
}

body{
    display: grid;
    
    grid-template: 
    ". header ." 5em
    ". section ." 50vh
    "footer footer footer" 10em
    / 1fr 2fr 1fr;                    
}

header{
    display: grid;
    grid-area: header;
    background-color: antiquewhite;
}
section{
    grid-area: section;
    display: grid;
    text-align: center;
    background-color: rgb(48, 172, 172);
}
footer{
    grid-area: footer;
    display: grid;
    background-color: darkcyan;
}

.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin: 4%;
    text-align: center;
}