*{
    margin:0;
    padding:0;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    border: 3px solid black;
    border-radius: 30px;
    z-index: inherit;
   
    
}

body{
    display: grid;
    
    grid-template: 
    ". header ." 15vh
    ". section ." 75vh
    "footer footer footer" 10vh
    / 1fr 2fr 1fr;                    
}

.prod{
    
    @include btn();
    display: grid;
    grid-template: 
    "imag item" 
    "imag item"; 
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

    padding: 3%;
    margin: 1%;

    .imag{
    
        display: grid;
        grid-area: imag;
       
        
    }
    .item{
        display: grid;
        grid-area: item;
        
    }
   
}

.productos{
    width: 80%;
    margin: auto;
}

header{
    display: grid;
    grid-area: header;
    background-color: antiquewhite;
    
}
section{
    @include btn();
    grid-area: section;
    display: grid;
    text-align: center;
    background-color: rgb(48, 172, 172);
}
footer{
    grid-area: footer;
    display: grid;
    background-color: darkcyan;
}


.navbar {
    @include btn();
    @include flexCenter();
    font-size: 1.5rem;
    a{
        text-decoration: none;
    }
    ul{
        @include flexCenter();
        display: flex;
        list-style: none;
        li{
            @include flexCenter();
            margin: 4%;
            text-align: center; 
        }
    }
}
