.btn {
  border: 3px solid black;
  border-radius: 30px;
}

body {
  display: -ms-grid;
  display: grid;
  grid-template: ". header ." 15vh ". section ." auto ". footer ." 10vh / 0.5fr 2fr 0.5fr;
}

.prod {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid black;
  border-radius: 30px;
  /* z-index: inherit; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  /* box-shadow: inset 6px 4px 9px 0px black; */
  /* color: #5e2626; */
  /* text-shadow: 7px 3px 4px black; */
  -webkit-box-shadow: 7px 7px 0px 0px black;
          box-shadow: 7px 7px 0px 0px black;
  background: repeating-linear-gradient(191deg, #2196f324, #00968838 52px);
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  grid-template: "imag item"  "imag item";
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  font-size: 1rem;
}

.prod .imag {
  display: -ms-grid;
  display: grid;
  grid-area: imag;
}

.prod .item {
  display: -ms-grid;
  display: grid;
  grid-area: item;
}

.productos {
  width: 80%;
  margin: auto;
}

header {
  border: 1px solid black;
  border-radius: 30px;
  /* z-index: inherit; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  /* box-shadow: inset 6px 4px 9px 0px black; */
  /* color: #5e2626; */
  /* text-shadow: 7px 3px 4px black; */
  -webkit-box-shadow: 7px 7px 0px 0px black;
          box-shadow: 7px 7px 0px 0px black;
  background: repeating-linear-gradient(191deg, #2196f324, #00968838 52px);
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  grid-area: header;
  background-color: antiquewhite;
}

section {
  border: 1px solid black;
  border-radius: 30px;
  /* z-index: inherit; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  /* box-shadow: inset 6px 4px 9px 0px black; */
  /* color: #5e2626; */
  /* text-shadow: 7px 3px 4px black; */
  -webkit-box-shadow: 7px 7px 0px 0px black;
          box-shadow: 7px 7px 0px 0px black;
  background: repeating-linear-gradient(191deg, #2196f324, #00968838 52px);
  margin-bottom: 30px;
  grid-area: section;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

footer {
  border: 1px solid black;
  border-radius: 30px;
  /* z-index: inherit; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  /* box-shadow: inset 6px 4px 9px 0px black; */
  /* color: #5e2626; */
  /* text-shadow: 7px 3px 4px black; */
  -webkit-box-shadow: 7px 7px 0px 0px black;
          box-shadow: 7px 7px 0px 0px black;
  background: repeating-linear-gradient(191deg, #2196f324, #00968838 52px);
  margin-bottom: 30px;
  width: auto;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
}

.navbar {
  font-size: 1.5rem;
}

.navbar a {
  text-decoration: none;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  list-style: none;
}

.navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */