.card {
  border: 1px solid black;
  border-radius: 30px;
  /* z-index: inherit; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  -webkit-box-shadow: 7px 7px 0px 0px black;
          box-shadow: 7px 7px 0px 0px black;
  background: repeating-linear-gradient(191deg, #2196f324, #00968838 52px);
  margin-bottom: 20px;
}

body {
  display: -ms-grid;
  display: grid;
  grid-template: ". header ." 15vh ". section ." auto ". footer ." 10vh/0.5fr 2fr 0.5fr;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.productos {
  margin: 5% 0%;
}

.prod {
  border: 1px solid black;
  border-radius: 30px;
  /* z-index: inherit; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  -webkit-box-shadow: 7px 7px 0px 0px black;
          box-shadow: 7px 7px 0px 0px black;
  background: repeating-linear-gradient(191deg, #2196f324, #00968838 52px);
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  grid-template: "imag item" "opt opt";
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-size: 1rem;
}

.prod .imag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: imag;
  margin: 2%;
}

.prod .item {
  display: -ms-grid;
  display: grid;
  grid-area: item;
  margin: 2%;
}

.prod .opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: opt;
  padding: 12px;
}

header {
  display: -ms-grid;
  display: grid;
  grid-area: header;
  background-color: antiquewhite;
}

section {
  grid-area: section;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

footer {
  width: auto;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
}

.navbar {
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.navbar ul {
  padding: 5px;
  list-style: none;
}

.navbar ul li {
  display: inline;
  text-align: center;
}

.navbar ul li a {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
          box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), to(#dfdfdf));
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 1% 0%;
}

.btn {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
          box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), to(#dfdfdf));
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dfdfdf), to(#ededed));
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

.btn:active {
  position: relative;
  top: 1px;
}

textarea {
  width: 165px;
}

form {
  text-align: right;
  text-align-last: justify;
}
/*# sourceMappingURL=style.css.map */